####################################################################
# `twitterNighlyAPI` は開発用です
# デプロイのみの場合はキーごと消しても問題ありません
# 開発環境で `twitterNightlyAPI` が存在しない場合は `twitterAPI` が使用されます
####################################################################

gcpProjectName: '' 
twitterAPI:
  consumer:
    key: ''
    secret: ''
  access:
    token: ''
    secret: ''

twitterNightlyAPI:
  consumer:
    key: ''
    secret: ''
  access:
    token: ''
    secret: ''

youtubeDataAPI:
  apikey: ''